<h1></h1>
<%= flash[:notice]%>
<%= form_for(:session, :url => sessions_path) do |f| %>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit "Sign in" %>
  </div>
<% end %>